app-french-map {
  position: relative; /* If you want text inside of it */
  display: block;
  width: 100%;
  max-width: 35em;
  padding-top: 100%; /* 1:1 Aspect Ratio */

  svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.border {
  stroke-width: 0.3px;
  fill: none;
  stroke: #333;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.departements {
  stroke: #000;
  stroke-width: 0.5px;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background: black;
  color: white;
}
